*{
    margin:0;
    padding: 0;
}

.text{
    position: fixed;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    left: 50%;
    top: 10px;
    text-shadow: 0 2px 5px rgba(0,0,0,.3);
    transform: translateX(-50%);
}
#newGame{
    cursor: pointer;
    position: fixed;
    left: 80%;
    top: 25px;
    padding: 8px;
    border-radius: 0.5em;
    background-color: rgb(218, 169, 45);
    box-shadow: (10px, 15px, rgb(14, 13, 13));
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#newGame:hover{
    background-color: rgb(216, 178, 83)
}
#newGame:active{
color:honeydew;
}